# OS
.DS_Store
Thumbs.db

# IntelliJ / VSCode
.idea/
*.iml
.vscode/

# Java
backend/target/
*.log

# Node/Angular
frontend/node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
**/application-local.yml